
.form__body {
  width: 80%;
  border-radius: 20px;
  border: 1px solid var(--bs-gray-500);
  margin-left: 10%;
}

.tab__headers {
  background-color: #306397;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 1px solid var(--bs-gray-500);
}

.tab__menu {
  list-style-type: none;
  margin: 0px;
}

.tab__item {
  color: white;
  margin-right: 1em;
  cursor: pointer;
  border-radius: 15px 15px 0px 0px;
  transition: all ease-in 500ms;
}

.tab__item:hover {
  background-color: rgb(135, 148, 222);
  color: black;
}

.selected__tab {
  background-color: burlywood;
  color: black;
  border-radius: 15px 15px 0px 0px;
  margin-right: 1em;
  cursor: pointer;
}

.tab__body {
  padding: 1em;
}


.form__input__group {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  align-items: center;
}

.form__input__group > label {
  grid-column: 1;
}

.form__input__group > input[type=text] {
  grid-column: 2;
}

.form__input__address {
  display: grid;
  grid-template-columns: 0.25fr 0.45fr 0.1fr 0.20fr;
  align-items: center;
}

.form__input__address > label:nth-child(3) {
  padding-left: 1em;
}

[shown] {
  display: inherit
}

td {
  padding: 0.5em !important;
}

tr {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
}

table {
  width: 100%;
}

@media (min-width: 910px) {

}